<div class="post__study">
  <h2><a target="_blank" href="{{study.link}}">{{study.title}}</a></h2>

  <div class="post__study__content">
    <table>
      <tr><td><b>Change of Effect</b></td><td>{{study.properties.[0]}}</td></tr>
      <tr><td><b>Trial Design</b></td><td>{{study.properties.[1]}}</td></tr>
      <tr><td><b>Trial Length</b></td><td>{{study.properties.[2]}}</td></tr>
      <tr><td><b>Number of Subjects</b></td><td>{{study.properties.[3]}}</td></tr>
      <tr><td><b>Gender</b></td><td>{{study.properties.[4]}}</td></tr>
    </table>

    <div class="post__study__notes">
      <b>Notes for this study:</b>
      <span>{{study.notes}}</span>
    </div>
  </div>
</div>
